Please enter your new password

<form action='/users/new_password' method='patch'>
	New Password: <input type="password" name="password" placeholder="New password">
	Confirm Password: <input type="password" name="password_confirmation" placeholder="Confirm password">
	<input type="hidden" name="password_token" value="<%= @user.password_token%>">
	<input type="submit" value="Reset password">
</form>