Add a new link:

<div id="new-link">
	<form action="/links" method="post">
		URL: <input type="text" name="url">
		Title: <input type="text" name="title">
		Tags: <input type="text" name="tags">
		<input type="submit" value="Add link">
	</form>
</div>