<!DOCTYPE html>
<html>
<head>
			<title>The Bookmark Manager</title>
			<link rel="stylesheet" type="text/css" href="stylesheets/reset.css">
			<link rel="stylesheet" type="text/css" href="stylesheets/application.css">
</head>
<body>
			<%= erb :header %>
			<%= erb :flash %>
			<%= yield %>
</body>
</html>